@CHARSET "ISO-8859-1";

#calendar .fc-agenda-axis, #calendar .fc-widget-header{
	background-color: rgba(255,222, 69, 0.8);
	border-color: #FACC02;
	font-weight: normal;
	padding-top: 1px;
	padding-bottom: 1px;
	border-radius: 3px;
}
#calendar .fc-content {
	color:white;
	font-size: 12px;
}
#calendar .fc-view-container {
	background-color: white ;
	box-shadow: 4px 5px 8px rgba(0, 0, 0, .125);
}
.fc-today {
	background-color: rgba(210, 210, 210, 0.4) !important;
}
.fc-button-prev {
	background-color: red;
	display:block;
	width:50px;
	height:50px;
}