body {
	background-color: #ffffff !important;
	background: url('../img/bg.jpg');
	background-position: right bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

/******************** INDEX Style ********************/
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
	text-align: center;
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    padding: 25px 20px;
}

.indexLogo img {
	width: 90%;
}

.login {
	width: 60%;
	margin: auto;
	padding-top: 20px;
}

.indexFooter {
	padding-top: 50px;
	color: #585858;
}



/******************** Button ********************/
.btn {
	font-size: 16px !important;
}

.btn:focus, .btn:active {
	border-color: #F6C533 !important;
}

.btn-yellow {
	color: #282828 !important;
    background: rgb(255, 217, 52) !important;
    border-color: #F6C533 !important;
    -webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
	width: 180px;
}

.btn-yellow:hover {
	color: #282828 !important;
    background: rgb(248, 193, 26) !important;
    border-color: #F6C533;
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
}
