html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: #ffffff !important;
	background: url('../img/bg.jpg');
	background-position: right bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;

	margin-bottom: 120px;
}

a {
	color: #848484 !important;
}

a:hover {
	color: #FFBF00 !important;
	text-decoration: none !important;
}

/******************** INDEX Style ********************/
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
	text-align: center;
    margin-left: auto;
    margin-right: auto; 
    width: 700px;
    padding: 25px 20px;
}

.indexLogo img {
	width: 600px;
}

.login {
	width: 60%;
	margin: auto;
	padding-top: 20px;
}

.indexFooter {
	padding-top: 50px;
	color: #585858;
}
/******************** End of INDEX Style ********************/


.container {
	padding-bottom: 110px;
}

.content {
	height: auto;
	width: 100%;
}

.page-header {
	border-bottom: 1px solid #FACC02 !important;
}

.page-header a {
	color: gray !important;
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
}

.page-header a:hover {
	color: #FFBF00 !important;
	text-decoration: none !important;
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
}

.calendar {
	margin-top: 10px;
}

/******************** Announcements Style ********************/
.someContainer {
	padding: 0px 5px;
	height: 520px;
	background: rgba(255, 255, 255, 0.7);
	position: relative;
	box-shadow: 4px 5px 8px rgba(0, 0, 0, .125);
}

.paginateClass {
	height: 85px;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background: rgba(250, 250, 250, 0.8);
	margin: 5px 0px;
}

.noAnnouncement {
	padding: 12px;
	font-size: 18px;
	font-style: italic;
	text-align: center;
}
/******************** End of Announcements Style ********************/


/******************** Seminars & Sessions Style ********************/
small {
	color: #151515 !important;
}

.panel {
	position: relative;
	height: 250px;
	width: 100%;
	box-shadow: 4px 5px 8px rgba(0, 0, 0, .125) !important;
}

.panel-body {
	position: relative;
}

.panel > .list-group {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.status.list-group-item {
	padding: 0px 15px !important;
	text-align: left !important;
	border: none;
}

.status.ongoing p span {
	color: #5FB404;
	font-weight: bold;
}

.status.complete p span {
	color: #0489B1;
}

.status.upcoming p span {
	color: #FFA500;
	font-weight: bold;
}

.list-group-item {
	text-align: center;
	padding: 7px 15px !important;
}

.list-group-item > .btn-link {
	padding: 0px 5px !important;
}

.popover-content > p {
	margin: 0 0 5px;
	font-size: 13px;
}

.setting1, .setting2 {
	padding: 0 !important;
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
}

.setting1:hover {
	background: rgba(46, 46, 46, 0.9) !important;
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
}

.setting2:hover {
	background: rgba(252, 193, 29, 0.8) !important;
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
}

.setting1 a, .setting2 a {
	padding: 8px 15px;
	display: block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
}

.setting1 a:hover {
	color: white !important;
}

.setting2 a:hover {
	color: #282828 !important;
}

.sessionTitle, .seminarTitle {
	text-align: left;
	margin-bottom: 5px;
}

.sessionTitle h3, .seminarTitle h3 {
	margin-top: 10px !important;
	font-size: 21px !important;
}
/******************** End of Seminars & Sessions Style ********************/


/******************** Reports Style ********************/
.reports {
	padding: 25px;
	text-align: center;
	width: 430px;
	margin: auto;
}

.reports > .row > .col-xs-5 {
	text-align: left;
}

/******************** End of Reports Style ********************/


/******************** Account Style ********************/
.row .account {
	background: rgba(255, 255, 255, 0.7);
	padding: 15px 25px !important;
	margin: 0;
	box-shadow: 6px 5px 6px rgba(0, 0, 0, .125);
}

.accountLeft {
	border-right: 2px solid #eee !important;
}

.accountRight {
	padding-top: 20px;
}

.account h4 span {
	color: #848484;
	font-size: 16px !important;
	padding-top: 0px;
	padding-left: 35px;
}

.editAccount {
	padding: 0px 40px 20px 40px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a {
	color: #585858 !important;
}
/******************** End of Account Style ********************/


/******************** Buttons ********************/
.someButton {
	padding-top: 5px;
	padding-bottom: 5px;
}

.someButton .btn, .btn-yellow {
	box-shadow: 3px 3px 4px rgba(0, 0, 0, .15);
}

.btn:focus, .btn:active {
	border-color: #F6C533 !important;
}

.btn-yellow {
	font-size: 16px !important;
	color: #282828 !important;
    background: rgb(255,222, 69) !important;
    border-color: #F6C533 !important;
    -webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
	min-width: 180px;
}

.btn-yellow:hover {
	color: #282828 !important;
    background: rgb(252, 193, 29) !important;
    border-color: #F6C533;
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
}

.btn-gray {
	font-size: 16px !important;
	color: white !important;
    background: #2E2E2E !important;
    border-color: #585858 !important;
    -webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
}

.btn-gray:hover {
	color: white !important;
    background: #000000 !important;
    border-color: #1C1C1C;
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
}

.btn-default {
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
}

a.btn.btn-default {
	color: #333 !important;
}

.btn-link {
	font-size: 14px !important;
	color: #848484 !important;
	padding: 0px !important;
}

.btn-link:hover, .btn-link:active, .btn-link:focus {
	color: #FFBF00 !important;
	text-decoration: none !important;
}
/******************** End of Buttons ********************/


/******************** Tables ********************/
.table {
	box-shadow: 4px 5px 8px rgba(0, 0, 0, .125);
}

.table th, td{
	text-align: center;
}

.table tr { 
	border: none; 
}

.table td {
	border-right: solid 1px #FACC02; 
}
.table td:last-child{
	border-right: none; 
}
.table th {
	padding: 0px 3px !important;
	border-right: solid 1px #FACC02;
	border-bottom: 2px solid #FACC02 !important;
}
.table th:last-child{
	border-right: none; 
}

.table-striped > tbody > tr:nth-child(2n) > td,
.table-striped > tbody > tr:nth-child(2n) > th {
   background-color: white;
}
.table-striped > thead{
	background-color: rgba(255,222, 69, 0.8);
}


.listTable tbody{
	border: 1px solid #ddd;
}
.listTable tr:first-child {
	text-align: center;
}

.listTable th, .listTable td {
	text-align: left;
}

.listTable td {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: none !important;
	border-bottom: none !important;
}
.listTable th {
	border: 1px solid #ddd !important;
}

/******************** End of Tables ********************/


/******************** Pagination ********************/
#legend1 {
	float: left;
	color: #2E2E2E;
	padding: 3px;
	margin-bottom: 10px;
}

#legend2 {
	color: #424242;
	font-size: 13px !important;
	text-align: center;
}

.paginationHomeHolder {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 100%;
}

.holder a {
	color: #424242 !important;
    padding: 8px 12px;
	box-shadow: 4px 5px 8px rgba(0, 0, 0, .125);
	background: rgba(255, 255, 255, 0.9);
	font-size: 14px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
	border: 1px solid #ddd;
}

.holder a:hover {
	background: #FFE156;
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
}

.holder a.jp-previous {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.holder a.jp-next {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-right: 1px solid #ddd;
}

.holder a.jp-current, a.jp-current:hover {
	background: #FFE156;
	border-color: #FFE156;
	color: #424242 !important;
	font-weight: bold;
}

.holder a.jp-disabled, a.jp-disabled:hover {
	color: #A4A4A4 !important;
	background: rgba(255, 255, 255, 0.9);
}

.holder span {
	margin: 0 5px;
}
/******************** End of Pagination ********************/


/******************** Others ********************/
.options {
	padding: 0px 0px 10px 0px;
}

.options > .col-sm-2 {
	padding-left: 15px !important;
	padding-right: 0px !important;
}

a.bfh-selectbox-toggle.form-control {
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
}

a.bfh-selectbox-toggle.form-control:hover {
	color: #555 !important;
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
}

.bfh-selectbox .bfh-selectbox-options ul li > a {
	color: #555 !important;
}
/******************** End of Others ********************/


/******************** Alerts ********************/

.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.alert {
	margin-bottom: 0px !important;
	text-align: center;
}